// $spaceBWButttons = 2%;
$link-hover-color: #5de9d2;
.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-color: rgb(255, 253, 235);
    padding-left: 3vw;
    padding-right: 3vw;

}
.logo{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.1em;
    align-items: center;
    // display: fle/x;
    
    // background-color: rgb(36, 61, 61);
}
.menu{
    // background-color: rgb(182, 255, 255);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 100%;
    padding-left: 1% ;
    padding-right: 1%;
    width:50%;

}
// font-family: 'Roboto', sans-serif;

// font-family: 'Roboto Mono', monospace;
.menu a{
    // background-color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    // color: rgb(134, 32, 32);
    margin-right: 2%;
    margin-left: 2%;


}
.menu a:hover{
    color: $link-hover-color;
    cursor: pointer;
}