
.loginButtondiv{
    width:90vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: rgb(56, 136, 136);
}
.loginButton{
    background-color: #FFF;
    border: 2px solid #000000;
    height: 5vh;
    cursor: pointer;
    padding-left:0.5em;
    padding-right: 0.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}
.about{
    width:90vw;
    height: 40vh;
    // background-color: aqua;
    display: flex;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: space-around;
}
.heading{
    height: 25%;
    width: 30%;
    font-size: 3em;
    display: flex;
    font-family: "Roboto Mono",monospace;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    // background-color: cadetblue;
}
.paragraph{
    font-family: "Roboto Mono",monospace;

    // background-color: chocolate;
}