.head{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}
.head button{
    border: 2px solid black;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
}